@import "compass";


* {
	margin:0;
	padding:0;
	font-size: 100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	font-size: 62.5%;
}


body {
	font:14px/1.5 Georgia, Serif;
	color:#484848;
	background-color:#111;
	background-position: center center;
	background-repeat: no-repeat;
background-attachment:fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

a {
	text-decoration: none;
}

i {
	font-style: italic;
}






.photo {
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: -1;
	overflow: hidden;


	.overlay {
		position: fixed;
		background: url(../img/overlay.png);
		top:0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.overlay2  {
		position: fixed;
		top:0;
		right:0;
		bottom:0;
		left: 0;
		// needs latest Compass, add '@import "compass"' to your scss
@include filter-gradient(#000000, #000000, vertical); // IE6-9
@include background-image(linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%));

	}

	&:hover {
	}

}

img {
	border:0;
	max-width: 100%;
}

.wrapper {
	
	width: 400px;
	color: #484848;
	padding: 20px;
	//-webkit-font-smoothing: antialiased;
	text-align: center;
	max-width: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 10;


	
}

.wrapperbg {
		position: fixed;
		top:0;
		left:0;
		bottom: 0;
		background: #fff url(../img/bg-site.png);
		width: 400px;
	}


.comments {
	margin:20px 0;
}


.fb-comments {
	width: 100% !important;
}
.fb-comments >span {
	width: 100% !important;
}

.fb-comments >span iframe {
	width: 100% !important;
	display: block;
}

.map {
	position: relative;


	small {
		font-family: Helvetica, arial, sans-serif;
		font-size: 8px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #888;
		display: block;
		text-align: left;
		padding-left:20px;
		position: absolute;
		line-height: 14px;

		top:-14px;
	}

	a {
		display: block;
		position: relative;
		z-index: 1;
	}

	img {
		display: block;
	}

	.overlay {
		content:"";
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		background: rgba(255,255,255,0.3) url(../img/noise.png);
	}

}

.site-header {
	text-align: center;
	margin:0;

	h1 {
		font-size: 50px;
		color:#811;
		text-shadow:0 1px 2px rgba(0,0,0,0.25);
		text-align: center;
		font-family: Rochester, Constantia, "Hoefler Text", Georgia, Serif;
		font-weight: 400;

	}
}


.tag {
		margin:0 0 20px;
	}



.content {

	text-align: center;
	margin:20px auto;

	.section {
		margin:0 0 25px;
	}


	h3 {
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 3px;
		margin:0 0 15px;
		color:#811;
	}

}


.countdown {
	padding: 20px 0;
	position: fixed;
	top:0;
	right:20px;
}

.fleur {
	opacity: 0.5;
}


.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	background-color: #ccc;
}
.countdown_row {
	clear: both;
	width: 100%;
	text-align: center;
}
.countdown_section {
	display: inline-block;
	text-align: center;
	padding: 0 10px;
	font-family: helvetica;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	color: rgba(255,255,255,0.875);
}
.countdown_amount {
	letter-spacing: -2px;
font-size: 70px;
font-weight: 700;
line-height: 1;
}
.countdown_descr {
	display: block;
	width: 100%;
}




.footer {

	overflow: hidden;
	position: fixed;
	right: 20px;
	left:420px;
	bottom: 10px;
	padding: 10px 20px 4px 20px;
	background: rgba(0,0,0,0.3);
	border-radius: 3px;
	box-shadow: 1px 1px rgba(0,0,0,0.1) inset;
	height: 40px;


	a {
			color:#ccc;
			padding-left:10px;

			&:hover,&:focus  {
				color:yellow;
			}
		}

	.social {
		float:left;
	}

	.small {
		float:right;
		color:#ccc;
		-webkit-font-smoothing:antialiased;
		font-size: 13px;

		
	}

	.btn {
		width: 100px;
		float: left;
	}

	iframe {
		display: block;
		float: left;
	}
}



.photo {

img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .photo {
  	img {
	    left: 50%;
	    margin-left: -512px;   /* 50% */
  	}
  }
}


@media (max-width: 800px) {


	.photo {
		img {
			min-width: 100%;
			left: 0;
			margin: 0;
			min-height: 0;
		}
	}

	.site-header h1 {
		font-size: 35px;
	}

	.wrapper {
		margin-top:380px;
		width: 100%;
		background: #fff url(../img/bg-site.png);

	}

	.wrapperbg {
		display: none;
	}
  .map,.countdown,.wrapper,.footer {
  	position: static;
  }

  .map {
  	img {
  		width: 100%;
  	}
  }

  .content .section {

  	width: 100%;
  	margin-right: auto;
  	margin-left: auto;
  }

  .countdown {
  	text-align: center;
  }

	.countdown_amount {
		letter-spacing: -1px;
		font-size: 50px;
	}

	.footer {
		border-radius:0;
		height: auto;
		padding-bottom:20px;
	}
}

@media (max-width: 480px) and (min-width: 320px) {


	.photo {
		img {
			min-width: 100%;
			left: 0;
			margin: 0;
			min-height: 0;
		}
	}

	.site-header h1 {
		font-size: 35px;
	}

	.wrapper {
		margin-top:180px;
		width: 100%;
		background: #fff url(../img/bg-site.png);

	}

	.wrapperbg {
		display: none;
	}
  .map,.countdown,.wrapper,.footer {
  	position: static;
  }

  .map {
  	img {
  		width: 100%;
  	}
  }

  .countdown {
  	text-align: center;
  }

	.countdown_amount {
		letter-spacing: -1px;
		font-size: 50px;
	}

	.footer {
		border-radius:0;
		height: auto;
		padding-bottom:20px;


		.small,.social {
			text-align: left;
			float: none;
			margin:0 0 10px;
			height: 20px;
		}
	}
}